<div
  class="d-flex flex-column justify-content-center align-items-center"
  style="width: 100%; height: 100vh"
>
  <h2 class="mb-3">Signup</h2>
  <div class="mb-3" style="max-width: 350px">
    <label for="name" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      placeholder="Name"
      [(ngModel)]="name"
    />
  </div>
  <div class="mb-3" style="max-width: 350px">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      placeholder="Email"
      [(ngModel)]="email"
    />
  </div>
  <div class="mb-3" style="max-width: 350px">
    <label for="password" class="form-label">Password</label>
    <input
      class="form-control"
      id="password"
      type="password"
      placeholder="Password"
      [(ngModel)]="password"
    />
  </div>
  <button class="btn btn-primary" (click)="signup()" >Signup</button>

</div>
