<!-- <h1>Hello From Angular</h1> -->
<!-- <p  > {{ showTitle ? getMessage() : 'You Can\'t See Our Title' }} </p> -->
<!-- <h2 [class]=" titleClasses()" > Our Products </h2> -->
<!-- <h2 class=" {{titleClasses()}} " > Our Products </h2> -->

<!-- <input type="text" placeholder="Email" disabled="{{ disableInput }}"> -->
<!-- <input (keyup)="changeValueWithElementValue(emailInput.value)" #emailInput type="text" placeholder="Email" [disabled]=" disableInput "> -->
<!-- <p>Email: {{email}}</p> -->
<!-- <p [class.green]="disableInput" [class.title]="!disableInput" > Hello World </p> -->
<!-- <p [ngClass]="ngClasses()" > Hello World </p> -->

<!-- <p [style.color]="disableInput ? 'red' : 'green' " >Is Input Disabled: {{disableInput}} </p> -->
<!-- <p [ngStyle]="ngStyles()" >Is Input Disabled: {{disableInput}} </p> -->

<!-- <button (click)="disableInput = !disableInput" >Change</button>
<button (click)="changeValueWithElementValue(emailInput.value)" >print email</button> -->

<!-- <input (keyup)="changeUserName(usernameRef.value)" [value]="username" #usernameRef type="text" placeholder="Username"> -->
<!-- <input [(ngModel)]="username" type="text" placeholder="Username">
<button (click)="print()" >print</button> -->

<!-- <p *ngIf="loggedIn else userNoLoggedIn" >User Logged In</p>
<ng-template #userNoLoggedIn>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
  <p>User Logged Out</p>
</ng-template>

<div [ngSwitch]="state" >
  <div *ngSwitchCase="'initial'" > Start Counting </div>
  <p *ngSwitchCase="'sec'" > You Reached 5 </p>
  <p *ngSwitchCase="'third'" > You Reached 10 </p>
  <p *ngSwitchDefault > Keep Counting... {{counter}} </p>
</div> -->

<!-- <button (click)="countUp()" >Count</button> -->

<!-- <ul>
  <li
    *ngFor="let user of users; index as indexOfUser; first as f; last as l; odd as o; even as e"
    [style.borderTop]="!f ? '1px solid #000' : 'none'"
  >
    {{ indexOfUser }} - {{ user.name }} - isFirst: {{ f }} - isLast: {{ l }} - isOdd: {{o}} - isEven: {{e}}
  </li>
</ul> -->

<!-- <app-user-list></app-user-list> -->

<!-- PIPES -->

<!-- STRINGS PIPES -->
<!-- <h2>  {{title | uppercase}} </h2>
<h2>  {{title | lowercase}} </h2>
<h2>  {{title | titlecase}} </h2>
<h2>  {{title | slice:0:5}} </h2>
<h2>  {{users[0] | json}} </h2> -->

<!-- NUMBERS PIPES -->
<!-- <h2> {{1.15 | number:'1.3-5' }} </h2>
<h2> {{4.2 | number:'2.2-3'}} </h2>
<h2> {{3.2656464 | number:'5.1-2'}} </h2> -->

<!-- PERCENT PIPE -->
<!-- <h2> {{.3 | percent}} </h2> -->

<!-- Currency PIPE -->
<!-- <h2> {{ 150 | currency }} </h2>
<h2> {{ 150 | currency:'EUR' }} </h2>
<h2> {{ 150 | currency:'EUR':'code' }} </h2> -->

<!-- DATE PIPES -->

<!-- <h2> {{date | date:'long'}} </h2>
<h2> {{date | date:'longDate'}} </h2>
<h2> {{date | date:'longTime'}} </h2>
<h2> {{date | date:'short'}} </h2>
<h2> {{date | date:'shortDate'}} </h2>
<h2> {{date | date:'shortTime'}} </h2> -->

<!-- <app-login></app-login> -->
<app-default-bar></app-default-bar>
<div class="container py-3">
  <router-outlet></router-outlet>
</div>
