<div class="formContainer d-flex justify-content-center align-items-center">
  <div class="form card">
    <div class="card-body p-3">
      <h1 class="mb-3">SignIn</h1>
      <div class="mb-3">
        <label for="signin" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="signin"
          placeholder="name@example.com"
          [(ngModel)]="email"
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          [(ngModel)]="password"
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-primary" (click)="signin()" >SignIn</button>
      </div>
    </div>
  </div>
</div>
